.form--email {
  color: white;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  border-bottom: 1px solid #555;
}
