// -----------------------------------------------------------------------------
// Ce fichier contient les bases.
// -----------------------------------------------------------------------------

/*
 * Base du style
 */
html {
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $dark-grey;
  }

}
